<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_header">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="form-horizontal" id="dbinfoForm">
                <input type="hidden" id="id" th:value="${dbinfo.id}">
                <div class="row">
                    <div class="col-sm-9 b-r">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="name" name="name" type="text" th:value="${dbinfo.name}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 b-r">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数据库地址</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="dbUrl" name="dbUrl" type="text"
                                       th:value="${dbinfo.dbUrl}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 b-r">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数据库账户</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="dbUsername" name="dbUsername" type="text"
                                       th:value="${dbinfo.dbUsername}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9  b-r">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">连接密码</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="dbPassword" name="dbPassword" type="password"
                                       th:value="${dbinfo.dbPassword}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-info button-margin"
                                onclick="DbInfoInfoDlg.editSubmit()" id="ensure">
                            <i class="fa fa-check"></i>&nbsp;提交
                        </button>
                        <button type="button" class="btn btn-danger button-margin"
                                onclick="DbInfoInfoDlg.close()" id="cancel">
                            <i class="fa fa-eraser"></i>&nbsp;取消
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script th:src="@{/modular/code/dbinfo/dbinfo_info.js}"></script>
