<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_header">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="form-horizontal" id="templateEngineForm">
                <div class="row">
                    <div class="col-sm-9  b-r">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模板引擎名称</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="engineName" name="engineName" type="text">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="col-sm-9  b-r">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模板引擎描述</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="engineDesc" name="engineDesc" type="text">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-info button-margin"
                                onclick="TemplateEngineInfoDlg.addSubmit()" id="ensure">
                            <i class="fa fa-check"></i>&nbsp;提交
                        </button>
                        <button type="button" class="btn btn-danger button-margin"
                                onclick="TemplateEngineInfoDlg.close()" id="cancel">
                            <i class="fa fa-eraser"></i>&nbsp;取消
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script th:src="@{/modular/code/engine/templateEngine_info.js}"></script>

