<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_header">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>模板组管理</h5>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                    type="button">名称
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" id="groupName"
                                               placeholder=""/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                    type="button">描述
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" id="groupDesc"
                                               placeholder=""/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-primary button-margin"
                                            onclick="TemplateGroup.search()">
                                        <i class="fa fa-search"></i>&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TemplateGroupTableToolbar" role="group">
                            <button type="button" class="btn btn-primary button-margin"
                                    onclick="TemplateGroup.openAddTemplateGroup()">
                                <i class="fa fa-plus"></i>&nbsp;添加
                            </button>
                            <button type="button" class="btn btn-primary button-margin"
                                    onclick="TemplateGroup.openTemplateGroupDetail()">
                                <i class="fa fa-plus"></i>&nbsp;修改
                            </button>
                            <button type="button" class="btn btn-danger button-margin"
                                    onclick="TemplateGroup.delete()">
                                <i class="fa fa-minus"></i>&nbsp;删除
                            </button>
                        </div>
                        <table id="TemplateGroupTable" data-mobile-responsive="true" data-click-to-select="true">
                            <thead>
                            <tr>
                                <th data-field="selectItem" data-checkbox="true"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/modular/code/group/templategroup.js}"></script>
