<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_header">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="form-horizontal">

                    <input type="hidden" id="id" th:value="${template.id}">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">名称</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="templateName" name="templateName"
                                           type="text" th:value="${template.templateName}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">描述</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="templateDesc" name="templateDesc"
                                           type="text" th:value="${template.templateDesc}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">模板路径</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="templatePath" name="templatePath"
                                           type="text" th:value="${template.templatePath}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">生成文件名</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="templateFileName" name="templateFileName" type="text">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">语言</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="templateType" name="templateType" th:value="${template.templateType}">
                                        <option value=""></option>
                                        <option th:selected="${template.templateType == 'Java'}" value="Java">Java</option>
                                        <option th:selected="${template.templateType == 'JavaScript'}" value="JavaScript">JavaScript</option>
                                        <option th:selected="${template.templateType == 'Html'}" value="Html">Html</option>
                                        <option th:selected="${template.templateType == 'Xml'}" value="Xml">Xml</option>
                                        <option th:selected="${template.templateType == 'SQL'}" value="SQL">SQL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">组</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="groupId" name="groupId">
                                        <option></option>
                                        <option th:each="list : ${group}"
                                                th:value="${list.id}"
                                                th:text="${list.groupName }"
                                                th:selected="${template.groupId == list.id}">

                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-sm-12">
                            <textarea id="templateContent" name="templateContent" class="form-control"
                              rows="15" th:field="${template.templateContent}"></textarea>
                            <pre id="codeFile" style="display:none;height: 310px;">
                                <code th:class="${template.templateType}">

                                </code>
                            </pre>
                        </div>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-info button-margin"
                                onclick="TemplateInfoDlg.editSubmit()" id="ensure">
                            <i class="fa fa-check"></i>&nbsp;提交
                        </button>
                        <button type="button" class="btn btn-danger button-margin"
                                onclick="TemplateInfoDlg.close()" id="cancel">
                            <i class="fa fa-eraser"></i>&nbsp;取消
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:src="@{/js/plugins/highlight/highlight.pack.js}"></script>
<script th:src="@{/modular/code/template/template_info.js}"></script>
</body>

